body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    
}

.container {
    width: 1020px;
    height: 1000px;
    gap: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}

.line-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    gap: 20px;    
    
}

.line-2 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 640px;
    margin-inline-start: 200px;
    gap: 20px;
}


.assignment-1, .assignment-2,
 .assignment-3, .assignment-4, 
 .assignment-5, .assignment-6 {
    width: 300px;
    height: 260px;
    border: 0.2px solid rgb(219, 217, 217);
    border-radius: 20px;
    background-image: url('https://i.pinimg.com/564x/01/cd/f6/01cdf62f4c34ac666b5c8391f97bc237.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

   
}

.assignment-1-overlay, .assignment-2-overlay, 
.assignment-3-overlay, .assignment-4-overlay, 
.assignment-5-overlay, .assignment-6-overlay {
    width: 300px;
    height: 260px;
    border-radius: 20px;
    background-color: rgba(5, 162, 253, 0.2);
    position: relative;
    
}

.assignment-1-link, .assignment-2-link,
 .assignment-3-link, .assignment-4-link,
  .assignment-5-link, .assignment-6-link {
font-weight: bold;
font-size: 20px;
color: rgb(88, 42, 255);
text-decoration: none;
position: absolute;
bottom: 4px;
right: 4px;
}

.assignment-2 {
     background-image: url('https://i.pinimg.com/564x/7e/ea/c2/7eeac22d16499f7fd6c0daaf665fb021.jpg');
    
}

.assignment-2-overlay {
    
 background-color: rgba(255, 53, 97, 0.2);
    
}

.assignment-2-link {
    color: rgb(255, 42, 124);
    }
    
    .assignment-3 {
          background-image: url('https://i.pinimg.com/736x/81/dc/b7/81dcb7b6a25603c0b875c8edbf7e1894.jpg');  
       
    }
    
    .assignment-3-overlay {
        background-color: rgba(199, 255, 220, 0.2);
        
    }
    
    .assignment-3-link {
        
        color: rgb(27, 255, 160);
       
        }

        .assignment-4 {
            
            background-image: url('https://i.pinimg.com/564x/18/83/bf/1883bf4a313a3015231aa44c92f64498.jpg');
            
           
        }
        
        .assignment-4-overlay {
            background-color: rgba(255, 200, 248, 0.2);
            
        }
        
        .assignment-4-link {
            color: rgb(236, 63, 199);
            
            }

            .assignment-5 {
               
                background-image: url('https://i.pinimg.com/564x/98/34/e5/9834e572f8fa29dcdee19c6b325e0a33.jpg');
               
            }
            
            .assignment-5-overlay {
                
                background-color: rgba(119, 127, 240, 0.2);
                
            }
            
            .assignment-5-link {
                
                color: rgb(154, 189, 255);
                
                }

                .assignment-6 {
                    
                    background-image: url('https://i.pinimg.com/564x/2c/c0/7a/2cc07a371a74d1233935aa094fa9df42.jpg');   
                    margin-inline-start: 350px;
                }
                
                .assignment-6-overlay {
                    
                    background-color: rgba(119, 127, 240, 0.2);
                
                }
                
                .assignment-6-link {
                   
                    color: rgb(185, 58, 158);
                    
                    }
                @media (max-width: 370px) {
    

                    .container {
                        width: 350px;
                        display: inline;
                        justify-content: center;
                        align-items: center;
                        overflow: scroll;
                        margin-inline-start: 10px;
                        
                    }
                    
                    .line-1 {
                        display: inline;
                        margin-block-start: 20px;
                        justify-content: space-between;   
                        
                    }
                    
                    .line-2 {
                        display: inline;
                        grid-template-columns: 1fr 1fr;
                        gap: 20px;
                        margin-inline-start: 0px;
                    }

                    .assignment-6 {
                        margin-inline-start: 0px;
                        
                    }

                    .assignment-1, .assignment-2, .assignment-3, .assignment-4, .assignment-5, .assignment-6 {
                        margin-block-start: 20px;
                    }

                }