body {
    display: grid;
    grid-template-rows: 1024px 982px;
    justify-content: center;
    align-items: center;
    color: var(--text-colour);
    font-family: 'Gilroy', sans-serif;
   

}


:root {
    --primary-colour:rgba(0, 101, 254, 1);
    --url-colour: rgba(0, 90, 226, 1);
    --secondary-colour:  rgba(50, 132, 255, 0.13);
    --text-colour: rgba(20, 20, 20, 1);

}

@font-face {
   font-family: 'Gilroy'; 
   src: local('/Fonts/gilroy/Gilroy-Bold.ttf') format('ttf'),
        local('/Fonts/gilroy/Gilroy-SemiBold.ttf') format('ttf'),
        local('/Fonts/gilroy/Gilroy-Medium.ttf') format('ttf');
   font-weight: bolder, medium, bold;
   font-style: normal;

}


.hero-section {
    background-image: url('/Assets/aurora.svg');
    width: 1440px;
    height: 1024px;
    display: grid;
    grid-template-rows: 44px 389px 336.57px 93px;
    justify-content: center;
    gap: 40px;
   
  
}

.header {
width: 1,150px;
height: 44px;
margin-block-start: 12px;
display: grid;
grid-template-columns: 155px 504px 211px ;
align-items: center;
gap: 140px;
margin-inline-start: 145.09px;


}
.left-section {
    width: 155px;
    height: 40px;
   
}

.middle-section  {
    display: grid;
    grid-template-columns: 69px 100px 56px 76px 43px;
    align-items: center;
    gap: 40px;
    font-size: 16px;
}

.right-section {
  display: grid;
  grid-template-columns: 50px 142px;
  gap: 24px;
  align-items: center;
}

.features {
    background-color: transparent;
    border: transparent;
    font-size: 16px;
    
}

.my-urls {
    color: var(--primary-colour);
}

.log-in {
    color: var(--primary-colour);
    font-size: 16px;
    font-weight: bold;
}

.try {
    padding: 12px 24px 12px 24px;
    color: rgba(255, 255, 255, 1);
    background-color: var(--primary-colour);
    border: none;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
}

.opt-container {
    
    height: 389px;
    display: grid;
    grid-template-rows: 200px 105px 56px;
    margin-block-start: 0px;
    gap: 40px;
    
}

h3 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: var(--text-colour);
    line-height: 96px;
    
}

.url-sht {
    color: var(--url-colour);
    font-family: 'Gilroy' sans-serif;
}

.blue-line {
    background-color: transparent;
    width: 173.63px;
    height: 19.91px;
    margin-inline-start: 397px;
    margin-block-start: 12px;

}

.personalize {
font-size: 18px;
line-height: 28px;
text-align: center;
font-weight: 400;


}

.buttons {
    display: grid;
    grid-template-columns: 142px 1fr;
    gap: 10px;
    width: 282px;
    align-items: center;
    margin-inline-start: 580px ;
    margin-block-start: 10px;
}

.sign {
    width: 142px;
height: 44px;
padding: 12px 24px;
border-radius: 100px;
background-color: var(--primary-colour);
color:  rgba(255, 255, 255, 1);
border: none;
font-size: 16px;

}

.learn {
    background: none;
    border: none;
    font-size: 16px;
    color: var(--primary-colour);
    font-weight: 600;
}

.vector-2 {
    width: 833px;
    height: 336.57px;
    margin-inline-start: 340px;
    margin-block-start: 60px;
    position: relative;
    
    
}

.vector-image {
    position: absolute;
    left: 65px;
    top: 10px;
}

.seamless {
    width: 768px;
    height: 224px;
   position: absolute;
   left: 65px;
   top: 25px;
    z-index: 200px;
    border-radius: 24px;
    border: 0.5px solid var(--primary-colour);
    background: linear-gradient(to right, rgb(222, 224, 230), rgb(255, 255, 255), transparent, transparent);   

} /*hero-section ends here*/

.desktop-10 {
    display: grid;
    grid-template-rows: 220px 504px;
   margin-block-start: -85px;
    height: 982px;
    width: 1440px;
}

.dsk-fr-1 {
    background-color: rgba(249, 251, 253, 1);
    height: 220px;
    width: 1440px;
    justify-content: center;
    align-items: center;

}

.dsk-fr-1-1 {
    display: grid;
    grid-template-columns: 400px 709px;
    gap: 100px;
    margin-inline-start: 100px;
    margin-block-start: 10px;
    justify-content: center;
    align-items: center;
}

.poso {
    color: var(--url-colour);
}

.poso-nos{
    display: grid;
    grid-template-columns: 291px 346px;
    gap: 72px;
    margin-block-start: 40px;
}

.poso-no1{
    display: grid;
    grid-template-columns: 1fr 123px;
    gap: 72px;
    
}

.poso-p-1 {
    font-size: 32px;
    font-weight: 600;
            
}

.poso-p-2 {
    margin-block-start: -20px;
    font-size: 16px;
    font-weight: 500;
}

.dsk-fr-2 {
    width: 1202.1px;
    height: 504px;
    margin-inline-start: 120px;
    margin-block-start: 100px;
    display: grid;
    grid-template-columns: 398.1px 708px;
    gap: 100px;
    
}

.why-cont {
    display: grid;
    grid-template-rows: 48px 192px;
}

.why {
    display: grid;
    grid-template-columns: 0.1px 382px;
    gap: 16px;
    margin-block-end: 20px;

}

.properties {
    display: grid;
    grid-template-rows: 220px 220px;
    gap: 64px;
}

.prop-1 {
    display: grid;
    grid-template-columns: 340px 340px;
    gap: 28px;
}

.p-1-1 {
    display: grid;
    grid-template-rows: 56px 124px;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.sub-title {
    font-size: 16px;
    font-weight: 500;
    color: rgba(20, 20, 20, 1);
    line-height: 24px;
    margin-block-start: -10px;
}

.desktop-1 {
    width: 1440px;
height: 1073px;
border: 1px solid red;


}